<h1>MENU</h1>
<br></br>

<div>
<form action="/cart" enctype="application/x-www-form-urlencoded" method="POST" id="myForm">
  <input type="hidden" name="field" value={{cust_ID}} >
  <button type="submit" class="btn btn-primary" id="shop" name="shop" value= {{cust_ID}} ><i class="fa fa-check"></i> <span class="glyphicon glyphicon-shopping-cart"></span></button>
</form>
</div>


<table class="table table-dark table-striped">
    <thead>
        <tr>
        <th scope="col">Dish ID</th>
        <th scope="col">Dish Name</th>
        <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
      
        {{#each list}}
    <tr>
        
      <th scope="row">{{this.ID}}</th>
      <td>{{this.food_name}}</td>
      <td>{{this.price}}</td>
      <form class="button0" action="/addcart" enctype="application/x-www-form-urlencoded" method="POST" id="myForm3">
      <input type="hidden" name="field" value={{../cust_ID}} >
        <td><button type="submit" class="btn butn" name="butt1" onclick="alert('Item added to cart successfully')" value={{this.ID}}><i class="fa fa-check"></i>Add to Cart</button></td>
      </form>
    </tr>
    {{/each}}
  </tbody>
    

</table>